* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@media screen and (min-width: 1024px) {
  /*
  .nav {
    width: 100%;
    display: flex;
    border: 2px red solid;
  }

  .header .nav .nav_list {
    display: flex;
    width: auto;
  }

  /*
  .nav .nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rebeccapurple;
  }*/

  .header {
    height: 80px;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80px;
    color: var(--fuente-primaria);
    background-color: black;
    border-top: 0.2px rgb(159, 159, 159) solid;
    border-bottom: 1px rgb(159, 159, 159) solid solid;
  }

  .nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; /* Añadido */
  }

  .nav_list li {
    margin-bottom: 0;
  }
  /*
  .nav_list {
    flex-direction: row;
    justify-content: center;
  }

  .nav_list li {
    margin-bottom: 0;
    margin-left: 20px;
  }
  */

  .label_toggle {
    display: none;
  }
}
