/* Estilos básicos para todos los elementos */
* {
  margin: 0; /* Margen cero para eliminar espacios adicionales */
  padding: 0; /* Relleno cero para eliminar relleno adicional */
  box-sizing: border-box; /* Incluir relleno y borde en el cálculo del tamaño del elemento */
  list-style: none; /* Eliminar los estilos de viñeta para listas */
}

/* Estilos para pantallas más grandes (1024px en adelante) */
@media screen and (min-width: 1024px) {
  /* 1024px */
  body {
    background-color: whitesmoke;
  }
  .header {
    height: 80px; /* Altura del encabezado */
  }

  .header .registerAndLogin {
    display: flex; /* Contenedor de registro e inicio de sesión como flexible */
    align-items: center; /* Alinear elementos verticalmente */
    padding: 1rem; /* Relleno de 1rem en todas las direcciones */
    gap: 2rem; /* Espacio de 2rem entre los elementos secundarios */
  }

  .header .registerAndLogin .register_user {
    padding: 10px 40px; /* Relleno de 10px en vertical y 40px en horizontal */
  }

  .header .registerAndLogin .login {
    color: var(
      --fuente-primaria
    ); /* Color de fuente definido por la variable --fuente-primaria */
    padding: 1rem; /* Relleno de 1rem en todas las direcciones */
  }

  .nav {
    width: 100%; /* Ancho del 100% */
    display: flex; /* Contenedor de navegación como flexible */
    justify-content: center; /* Centrar elementos horizontalmente */
    position: absolute; /* Posición absoluta */
    top: 80px; /* Colocar la barra de navegación debajo del encabezado */
    color: var(
      --fuente-primaria
    ); /* Color de fuente definido por la variable --fuente-primaria */
    background-color: black; /* Color de fondo negro */
    border-bottom: 1px gray solid;
    border-bottom: 1px gray solid;
  }

  .nav_list {
    display: flex; /* Lista de navegación como flexible */
    flex-direction: row; /* Dirección de los elementos en fila */
    justify-content: space-around; /* Espacio uniforme entre los elementos */
    width: 100%; /* Ancho del 100% */
    height: auto;
  }

  .nav_list::after {
    display: none;
  }

  .nav_list li {
    margin-bottom: 0; /* Eliminar margen inferior para los elementos de la lista */
  }

  .label_toggle {
    display: none; /* Ocultar el elemento con la clase .label_toggle */
  }

  .newReview {
    display: flex;
    align-items: center;
    margin: 0 10rem;
  }

  .newReview_info {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: rgb(206, 197, 216);*/
    padding: 2rem;
    width: 100%;
  }

  /* Firs Sections */

  .aboutThisBook {
    display: flex;
    padding: 2 rem;
    width: 100%;
    color: wheat;
    font-family: "Courier New", Courier, monospace;
    margin-top: 30px;
    margin-right: 100px;
    text-align: justify;
  }

  .iconoCompartir {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
    padding: 1rem;
  }

  .iconoCompartir i {
    color: wheat;
    display: flex;
    font-size: 30px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 100%;
    align-items: center;
  }

  .aboutThisBook_info .readMore {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
  }

  /* Second Sections */

  .secondSection {
    height: auto;
  }

  .secondSection .sharePost {
    display: none;
  }

  .thirdSection .review .overviewCart {
    display: none;
  }
  /* third Sections */

  .thirdSection {
    width: auto;
    height: auto;
  }

  .reviewBook_buy {
    display: block;
  }

  .thirdSection .review {
    background-color: whitesmoke;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .thirdSection .reviewBook {
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: justify;
    font-size: 20px;
    gap: 20px;
    padding: 20px;
  }

  .thirdSection .reviewBook_buy .imgMiniatura {
    display: flex;
    font-family: "Poppins";
  }

  .thirdSection .reviewBook_buy img {
    width: 100px;
    margin: 10px;
  }

  .thirdSection .reviewBook_buy .reviewBook_buy--cart {
    margin: 10px;
  }

  .thirdSection .reviewBook_buy .reviewBook_buy--cart {
    font-family: "Poppins";
  }

  .thirdSection
    .reviewBook_buy
    .reviewBook_buy--cart
    .reviewBook_buy--cart_format {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
  }

  .thirdSection
    .reviewBook_buy
    .reviewBook_buy--cart
    .reviewBook_buy--cart_buyNow
    .btn_buy {
    background-color: black;
    width: 100%;
    color: #fff;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins";
  }

  .thirdSection
    .reviewBook_buy
    .reviewBook_buy--cart
    .reviewBook_buy--cart_buyNow
    .btn_buy:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 20px;
  }

  /*---------------*/
  /*
  .buyNow {
    display: block;
    background: linear-gradient(180deg, #000000, #ffffff);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
  }*/

  .buyNow {
    display: block;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
  }

  .buyNow h2 {
    color: #dad6d6;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .buyNow_format {
    margin-top: 20px;
  }

  .buyNow_format span {
    color: #e6e1e1;
    font-size: 16px;
  }

  .buyNow_format h2 {
    color: #c1bebe;
    font-size: 18px;
    margin-top: 5px;
  }

  .buyNow_btn {
    margin-top: 20px;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .buyNow_btn p {
    color: #fff;
    font-size: 16px;
    margin: 0;
  }

  .fourSection .cartBooks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  /* CART SECTIONS*/

  .cartSection {
    display: none;
  }
  /*
  .cartContain {
  }*/

  .cartSectionDesktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 200px;
  }

  .cartContain .cartContain_img {
    display: block;
    width: 200px;
    margin: 10px auto;
  }

  .cartContain {
    background-color: beige;
    padding: 10px;
  }
  .cartSectionDesktop .cartContain .cartContain_info {
    display: block;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(248, 232, 204);
    padding: 10px;
    & h3 {
      color: #b7343a;
      font-family: "Cormorant Garamond", serif;
      text-align: center;
    }

    & p {
      text-align: center;
      font-family: "Cormorant Garamond", serif;
    }
  }
  .cartContain_btn {
    display: block;
    text-align: center;
    background-color: bisque;
    border: 1px solid;
    margin-top: 10px;
  }

  .cartSectionDesktop .cartContain .cartContain_info .reviewBook_cart {
    display: none;
    text-align: justify;
    margin-top: 10px;
  }
}
