/* Estilos básicos para todos los elementos */

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0; /* Margen cero para eliminar espacios adicionales */
  padding: 0; /* Relleno cero para eliminar relleno adicional */
  box-sizing: border-box; /* Incluir relleno y borde en el cálculo del tamaño del elemento */
  list-style: none; /* Eliminar los estilos de viñeta para listas */
}

/* Estilos para pantallas más grandes (1024px en adelante) */
@media screen and (min-width: 1024px) {
  /* 1024px */
  body {
    background-color: whitesmoke;
  }
  .header {
    height: 80px; /* Altura del encabezado */
  }

  .header .registerAndLogin {
    display: flex; /* Contenedor de registro e inicio de sesión como flexible */
    align-items: center; /* Alinear elementos verticalmente */
    padding: 1rem; /* Relleno de 1rem en todas las direcciones */
    gap: 2rem; /* Espacio de 2rem entre los elementos secundarios */
  }

  .header .registerAndLogin .register_user {
    padding: 10px 40px; /* Relleno de 10px en vertical y 40px en horizontal */
  }

  .header .registerAndLogin .login {
    color: var(
      --fuente-primaria
    ); /* Color de fuente definido por la variable --fuente-primaria */
    padding: 1rem; /* Relleno de 1rem en todas las direcciones */
  }

  .nav {
    width: 100%; /* Ancho del 100% */
    display: flex; /* Contenedor de navegación como flexible */
    justify-content: center; /* Centrar elementos horizontalmente */
    position: absolute; /* Posición absoluta */
    top: 80px; /* Colocar la barra de navegación debajo del encabezado */
    color: var(
      --fuente-primaria
    ); /* Color de fuente definido por la variable --fuente-primaria */
    background-color: black; /* Color de fondo negro */
    border-bottom: 1px gray solid;
    border-bottom: 1px gray solid;
  }

  .nav_list {
    display: flex; /* Lista de navegación como flexible */
    flex-direction: row; /* Dirección de los elementos en fila */
    justify-content: space-around; /* Espacio uniforme entre los elementos */
    width: 100%; /* Ancho del 100% */
    height: auto;
  }

  .nav_list::after {
    display: none;
  }

  .nav_list li {
    margin-bottom: 0; /* Eliminar margen inferior para los elementos de la lista */
  }

  .label_toggle {
    display: none; /* Ocultar el elemento con la clase .label_toggle */
  }

  .newReview {
    display: flex;
    align-items: center;
    margin: 0 10rem;
  }

  .newReview_info {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: rgb(206, 197, 216);*/
    padding: 2rem;
    width: 100%;
  }

  /* Firs Sections */

  .aboutThisBook {
    display: flex;
    padding: 2 rem;
    width: 100%;
    color: wheat;
    font-family: "Courier New", Courier, monospace;
    margin-top: 30px;
    margin-right: 100px;
    text-align: justify;
  }

  .iconoCompartir {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
    padding: 1rem;
  }

  .iconoCompartir i {
    color: wheat;
    display: flex;
    font-size: 30px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 100%;
    align-items: center;
  }

  .aboutThisBook_info .readMore {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
  }

  /* Second Sections */

  .secondSection {
    height: auto;
  }

  .secondSection .sharePost {
    display: none;
  }

  .thirdSection .review .overviewCart {
    display: none;
  }
  /* third Sections */

  .thirdSection {
    width: auto;
    height: auto;
  }

  .reviewBook_buy {
    display: block;
  }

  .thirdSection .review {
    background-color: whitesmoke;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .thirdSection .reviewBook {
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: justify;
    font-size: 20px;
    gap: 20px;
    padding: 20px;
  }

  .thirdSection .reviewBook_buy .imgMiniatura {
    display: flex;
    font-family: "Poppins";
  }

  .thirdSection .reviewBook_buy img {
    width: 100px;
    margin: 10px;
  }

  .thirdSection .reviewBook_buy .reviewBook_buy--cart {
    margin: 10px;
  }

  .thirdSection .reviewBook_buy .reviewBook_buy--cart {
    font-family: "Poppins";
  }

  .thirdSection
    .reviewBook_buy
    .reviewBook_buy--cart
    .reviewBook_buy--cart_format {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
  }

  .thirdSection
    .reviewBook_buy
    .reviewBook_buy--cart
    .reviewBook_buy--cart_buyNow
    .btn_buy {
    background-color: black;
    width: 100%;
    color: #fff;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins";
  }

  .thirdSection
    .reviewBook_buy
    .reviewBook_buy--cart
    .reviewBook_buy--cart_buyNow
    .btn_buy:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 20px;
  }

  .buyNow {
    display: block;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
  }

  .buyNow h2 {
    color: #dad6d6;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .buyNow_format {
    margin-top: 20px;
  }

  .buyNow_format span {
    color: #e6e1e1;
    font-size: 16px;
  }

  .buyNow_format h2 {
    color: #c1bebe;
    font-size: 18px;
    margin-top: 5px;
  }

  .buyNow_btn {
    margin-top: 20px;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .buyNow_btn p {
    color: #fff;
    font-size: 16px;
    margin: 0;
  }

  /* CART SECTIONS*/

  .cartSection {
    display: none; /* desabilita la portada de mobil */
  }

  .book-section {
    color: #b7343a;
    font-family: "Cormorant Garamond", serif;
    & h2 {
      text-align: center;
      margin-top: 30px;
    }
  }

  .thisStore {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 1rem;
    margin: 50px;

    & h3 {
      text-transform: uppercase;
    }

    & p {
      text-transform: uppercase;
    }
  }

  .book-section .cartBook_container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
    margin-top: 50px;
  }

  .cartBook_container .book-card {
    background-color: rgb(243, 238, 238);
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .book-card img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .book-card img:hover {
    transform: translateY(-5px);
  }

  .buy-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .buy-button:hover {
    background-color: #2980b9;
  }

  .paginacion {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .pagination-link {
    color: #000;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .pagination-link:hover {
    background-color: #ddd;
  }

  .pagination-link.active {
    background-color: #007bff;
    color: #fff;
  }

  /* PODCAST SENCTIONS */

  .logo-container {
    position: relative;
    width: 90%;
    height: 150px;
    margin: 50px auto;
    font-family: "Cormorant Garamond", serif;
    padding-top: 10px;
  }

  .yellow-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: #ede59e;
    z-index: 2;
  }

  .pattern-rectangle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 40%;
    height: 70%;
    background-image: radial-gradient(
      circle at 50% 50%,
      #7d2f33 10%,
      transparent 10%
    );
    background-size: 20px 20px;
    background-position: center;
    z-index: 1;
  }

  .logo-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #7d2f33;
    text-align: center;
    text-transform: uppercase;
    z-index: 3;
  }

  /* Cart podscat */

  .allpodcast {
    display: flex;
  }

  .podcastSection {
    width: 100%;
    margin-top: 100px;
    /* background-color: #f4e2d0;*/

    & h2 {
      text-align: center;
      margin: 30px 0;
      font-family: "Cormorant Garamond", serif;
      padding: 1rem;
      text-transform: uppercase;
      background-color: rgba(222, 210, 169, 0.2);
    }
  }
  .podcastSection .podcastSection_logo img {
    width: 100%;
    margin-top: 30px;
  }

  /* Estilos de prueba */

  .cartPodcast {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    /*align-items: center;*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    width: 40%;
    margin: 10px auto;
  }

  .cartPodcast img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin: 0 auto;
  }

  .cartPodcast_info {
    text-align: center;
  }

  .cartPodcast_info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .cartPodcast_info p {
    font-size: 14px;
    color: #6e6e6e;
    margin-bottom: 20px;
  }

  .btnPodcast {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #ff5f6d, #ffc371);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, transform 0.3s;
  }

  .btnPodcast:hover {
    background-color: #ff5f6d;
    transform: scale(1.05);
  }

  .btnPodcast:active {
    background-color: #ffc371;
    transform: scale(0.95);
  }

  /* section del footer */

  footer {
    background-color: #f2f2f2;
    padding: 20px;
  }

  .footerContain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    background-color: rgb(227, 226, 226);
  }

  /* Estilo del apartado "Join our community" */
  .joinTittle h3 {
    font-size: 24px;
    margin: 0;
    display: none;
  }

  .joinOur {
    flex: 1 1 250px;
    margin-top: 20px;
    padding: 50px;
  }

  .joinOur p {
    font-size: 16px;
    margin-bottom: 35px;
  }

  .btnFooter {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  /* Estilo del apartado "Connect" */
  .connect {
    flex: 1 1 250px;
    margin-top: 20px;
  }

  .connect h3 {
    font-size: 24px;
    padding-inline-start: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Cormorant Garamond", serif;
    color: #7d2f33;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    width: 70%;
  }

  .connectSocial {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
  }

  .connectSocial img {
    width: 30px;
    margin-right: 30px;
  }

  /* Estilo del apartado "Contacts" */
  .contact {
    flex: 1 1 250px;
    margin-top: 20px;
  }

  .contact h3 {
    font-size: 24px;
    padding-inline-start: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Cormorant Garamond", serif;
    color: #7d2f33;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    width: 70%;
  }

  .contactOptions p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  /* Estilo del footer final */
  .footerFinal {
    text-align: center;
    margin-top: 20px;
  }

  .footerFinal p {
    font-size: 14px;
    color: #888;
  }

  /* Modal contacs*/

  /* Section modals */

  #modal {
    display: none;
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    z-index: 10000;
  }

  #modal:target {
    display: block;
  }
  .modal-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgb(85, 83, 83);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }

  .btnModals {
    display: block;
    text-align: center;
    margin: 1rem;
    padding: 12px 24px;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 1rem;
    text-decoration: none;
    background-color: #af599e;
    border: none;
    border-radius: 6px;
  }

  /* Formulario de Contacto */

  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .formularioGroup {
    position: relative;
    margin: 20px;
  }

  .formImput {
    width: 100%;
    padding: 1rem;
    border: none;
    border-bottom: solid 1.5px #1c1c1c;
    outline: none;
    background-color: transparent;
    /*background-color: rgba(245, 245, 245, 0.9);*/
  }

  .formImput:focus + .formLabel,
  .formImput:not(:placeholder-shown) + .formLabel {
    transform: translateY(-12px) scale(0.7);
    color: var(--backgraound-boton-footer);
  }

  .formLabel {
    position: absolute;
    top: -10 px;
    left: 0px;
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
    z-index: 1;
  }

  .formInput:focus + .formLabel {
    transform: translateY(-20px) scale(0.8);
    z-index: 2;
  }

  .textarea {
    width: 100%;
    resize: none;
    background-color: whitesmoke;
    border: none;
    text-transform: uppercase;
    padding: 1rem;
  }

  .textarea:focus {
    outline-style: none;
  }

  .botones {
    background-color: rebeccapurple;
    width: 50%;
  }

  .contenedorFormulario {
    width: 100%;
  }

  /* login */

  /* Login */

  .headerLogin .logo {
    display: none; /*
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: larger;
    font-weight: 800;
    margin: 0 auto 25px auto;
    color: whitesmoke;
    background-color: #313131;
    height: 100px;*/
  }

  .contenedorBanerLogin .logo {
    display: block;
    padding: 1rem;
    width: 98%;
    margin: 40px auto;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: rgba(235, 232, 232, 0.904);
    font-family: "Pacifico", cursive;
  }

  .contenedorBanerLogin p {
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }

  .contenedor {
    background-color: rgb(243, 240, 240);
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: auto;
  }

  .contenedorLoging {
    display: block;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
  }

  .contenedorLoging--redes {
    font-family: "Poppins";
  }

  .contenedorLoging--redes h2 {
    margin: 30px 0;
  }

  .acceso {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline-start: 70px;
  }

  .acceso .iconoTwT {
    font-size: 30px;
    color: rgb(145, 144, 144);
    background-color: rgb(216, 216, 216);
    padding: 8px;
    border-radius: 10px;
  }

  .accesoGoogle {
    display: flex;
    width: 60%;
    height: 45px;
    /* padding-inline-start: 20px;*/
    gap: 10px;
    margin: 25px 0;
    font-family: "Poppins";
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #298bf3;
    border-radius: 7px;
    padding: 2px;
  }

  .accesoGoogle img {
    width: 40px;
    height: 100%;
    color: rgb(145, 144, 144);
    background-color: rgb(249, 247, 247);
    padding: 8px;
    border-radius: 7px;
  }

  .accesoGoogle h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .line-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0;
  }

  .line {
    width: 100%;
    border-bottom: 1px solid rgb(185, 171, 171);
  }

  .or {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(243, 240, 240);
    padding: 0 10px;
  }

  /* formulario de inicio de seccion */
  .contenedorLoging--form {
    font-family: "Poppins";
  }
  h2 {
    text-align: center;
  }

  form {
    background-color: rgb(243, 240, 240);
    width: 70%;
    margin: 40px auto;
    padding: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .footer {
    margin-top: 0px;
    padding-top: 1px;
  }

  .footerFinal {
    text-align: center;
    display: flex;
    margin: 0;
  }

  .footerFinal p {
    margin: 0 auto;
    font-size: 14px;
    color: #888;
  }

  .contenedorBanerLogin {
    display: block;
    background-color: rgb(227, 227, 227);
  }

  @media (max-width: 768px) {
    .book-section {
      flex-wrap: wrap;
    }

    .book-card {
      flex-basis: 48%;
      margin-bottom: 20px;
    }
  }
}
